<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">Управление заказами</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="Index">Управление отчетами</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Notifications" asp-action="Index">Управление уведомлениями</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="Index">Управление сотрудниками</a>
    </li>
</ul>