<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">Orders (View Status)</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Notifications" asp-action="Index">Notifications (View Only)</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Items" asp-action="Index">Items (Add to Order)</a>
    </li>
</ul>