@model LoginViewModel

<h2>Вход</h2>

<form asp-action="Login" method="post">
    <div>
        <label asp-for="Login"></label>
        <input asp-for="Login" />
        <span asp-validation-for="Login" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit">Войти</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}