@model LogistTrans.Models.Notification

<h2>Создать уведомление</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Message"></label>
        <input asp-for="Message" class="form-control" />
        <span asp-validation-for="Message" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ClientId"></label>
        <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
        <span asp-validation-for="ClientId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OrderId"></label>
        <select asp-for="OrderId" class="form-control" asp-items="ViewBag.OrderId"></select>
        <span asp-validation-for="OrderId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Создать</button>
</form>