@{
    ViewData["Title"] = "Домашняя страница";
}

<div class="text-center mt-5">
    <h1 class="display-4">Добро пожаловать в ЛогистТранс!</h1>
    <div class="mt-4">
        <img src="img/LT_Back.jpg" alt="ЛогистТранс" class="img-fluid rounded mx-auto d-block" style="max-width: 80%; height: auto;">
    </div>
</div>